@page "/courses/courseid"
@* @attribute [Authorize] *@

<PageTitle>Course name</PageTitle>


    <section id="single-course">
        <div class="course-showcase">
            <div class="container">
                <div class="course-tags">
                    <div class="bestseller">Best Seller</div>
                    <div class="digital">Digital</div>
                </div>
                <h1>Course title</h1>
                <h3>Course-description</h3>
                <div class="course-statistics">
                    <div class="star-rating">
                        <p>(Reviews)</p>
                    </div>
                    <p><i class="fa-regular fa-thumbs-up"></i>Likes</p>
                    <p><i class="fa-regular fa-clock"></i>Hours</p>
                </div>

                <div class="author">
                    <div class="image"></div>
                    <div class="created-by">
                        <p>Created by</p>
                        <p>Creator name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-description">
            <div class="container">
                <div class="info-texts">
                    <h1>Course Description</h1>
                    <p>infotext</p>
                    <div class="what-learn">
                        <h2>What you'll learn</h2>
                        <div class="checklist">
                            <p><i class="fa-regular fa-circle-check"></i> check 1</p>
                            <p><i class="fa-regular fa-circle-check"></i> check 2</p>
                            <p><i class="fa-regular fa-circle-check"></i> check 3</p>
                            <p><i class="fa-regular fa-circle-check"></i> check 4</p>
                            <p><i class="fa-regular fa-circle-check"></i> check 5</p>
                        
                        </div>
                    </div>
                </div>
                <div class="include-join">
                    <div class="include">
                        <h3>This course includes:</h3>
                        <div class="include-list">
                            <p><i class="fa-light fa-clapperboard-play"></i> video</p>
                            <p><i class="fa-regular fa-trophy"></i> article</p>
                            <p><i class="fa-regular fa-arrow-down-to-line"></i> download</p>
                            <p><i class="fa-regular fa-infinity"></i> access</p>
                            <p><i class="fa-regular fa-trophy"></i> certificate</p>
                        </div>
                    </div>
                    <div class="pricing">
                        <div class="discount-price">DP</div>
                        <div class="original-price">OP</div>
                    </div>
                    <button class="btn-theme">Join Course</button>
                </div>
            </div>
            <div class="program-details">
                <div class="container">
                    <h1>Program details</h1>
                    <div class="program-steps">
                        <div class="step">
                            <div class="step-number">1</div>
                            <div class="step-description">
                                <h3>Step title</h3>
                                <p>Step description</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-number">2</div>
                            <div class="step-description">
                                <h3>Step title</h3>
                                <p>Step description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>