@inherits LayoutComponentBase
@layout AccountLayout

<div class="container">
    <section id="account-details">
        <aside>
            <ProfileInfo />
            <ManageNavMenu />
        </aside>
        <div class="details">

        </div>

    </section>
</div>
