form {
    width: 100%;
    display: grid;
    gap: 1rem;

    .alert {
        color: $danger;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
        background-color: $danger-bg;
    }

    .input-group {
        display: grid;
        margin-bottom: 1rem;

        label {
            margin-bottom: 0.188rem;
            font-weight: 700;
        }

        input {
            padding: 1rem;
            border-radius: 0.5rem !important;
            border: 0.1rem solid $gray-400;
            
            &::placeholder {
                opacity: 0.4;
            }

            &.input-validation-error {
                border: 0.1rem solid $danger !important;
                color: $danger;

                &::placeholder {
                    color: $danger;
                }
            }

            &:focus {
                outline: none;
                border: 0.063rem solid $gray-600;
            }
        }

        .validation-message {
            color: $danger;
            font-size: 0.875rem;
        }
    }

    .checkbox-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input[type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;

            &.input-validation-error {
                box-shadow: 0 0 0 0.063rem $danger;
                color: $danger;
            }
        }

        label {
            margin: 0;
            font-weight: 400;
        }

        .validation-message {
            color: $danger;
            font-size: 0.875rem;
        }
    }

    .btn-theme-s {
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        background-color: $theme;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: darken($theme, 10%);
        }
    }
}
